services:
  php:
    build:
      context: ../../
      dockerfile: infra/prod/php/Dockerfile
    working_dir: /var/www/html
    entrypoint: [ "/usr/local/bin/entrypoint.sh" ]
    command: [ "php-fpm" ]
    depends_on:
      - postgres
      - redis
    env_file:
      - ./php/.env
    restart: unless-stopped

  scheduler:
    build:
      context: ../../
      dockerfile: infra/prod/php/Dockerfile
    working_dir: /var/www/html
    command: ["php", "artisan", "schedule:work"]
    depends_on:
      - php
      - redis
    env_file:
      - ./php/.env
    restart: unless-stopped

  mailer:
    build:
      context: ../../
      dockerfile: infra/prod/php/Dockerfile
    working_dir: /var/www/html
    command: ["php", "artisan", "queue:work", "redis", "--sleep=3", "--tries=3"]
    depends_on:
      - php
      - redis
    env_file:
      - ./php/.env
    restart: unless-stopped

  nginx:
    build:
      context: ../../
      dockerfile: infra/prod/nginx/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - php
    restart: unless-stopped

  postgres:
    build:
      context: ../../
      dockerfile: infra/prod/postgres/Dockerfile
    restart: unless-stopped
    env_file:
      - ./postgres/.env
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:8.0.1-alpine
    restart: unless-stopped
    volumes:
      - redisdata:/data

  adminer:
    image: adminer:5.2.1
    restart: always
    ports:
      - "8083:8080"

  redisinsight:
    image: redis/redisinsight:2.68
    restart: always
    ports:
      - "5540:5540"

volumes:
  pgdata:
  redisdata:
